.form {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 30px;
  border-left: 5px solid gray;
  padding-left: 10px;
}

.form-group {
  margin-top: 10px;
}

.form-control {
  margin-left: 10px;
}

.btn {
  margin-top: 20px;
}
