<div class="form">
  <div class="form-group">
    <label for="dataOraInizio">Inizio</label>
    <input type="datetime-local"
           class="form-control"
           id="dataOraInzio"
           name="dataOraInizio">
  </div>
  <div class="form-group">
    <label for="dataOraFine">Fine</label>
    <input type="datetime-local"
           class="form-control"
           id="dataOraFine"
           name="dataOraFine">
  </div>
  <div class="form-group">
    <label for="descrizione">Descrizione</label>
    <input type="text"
           class="form-control"
           id="descrizione"
           name="descrizione">
  </div>
  <div class="form-group">
    <label for="referente">Referente</label>
    <input type="text"
           class="form-control"
           id="referente"
           name="referente">
  </div>
  <button type="button"
          class="btn">Aggiungi</button>
</div>
